.product-detail-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    min-height: calc(100vh - 300px);
    background-color: #fff;
    width: 80%;
    margin: 10% auto 0;
}

.main-img{
    width: 30%;
    display: block;
}

.content-wrap{
    width: 66%;
    position: relative;
}
.content-wrap p{
    margin-bottom: 10px;
}

.name{
    font-size: 35px;
}

.eco-farm{
    position: absolute;
    top: -15%;
    left: 0%;
}