@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
}

main {
  min-height: calc(100vh - 100px);
  background-color: #fff;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
header a.active {
  /* background-color: #27bb3e; */
  color: #27bb3e;
  /* border: 1px solid #27bb3e; */
}
header a.active::after {
  /* background-color: #27bb3e; */
  background-color: #27bb3e;
  /* border: 1px solid #27bb3e; */
}
input.invalid{
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}
